allowinterfaces enp3s0

interface enp3s0
# -- DHCP behavior not required
nodhcp
nodhcp6
# -- IPv4LL behavior not required
noipv4ll
noipv6rs
# -- Assign address even if we have no link Otherwise, things are
# -- screwy on units that do not have a carrier e.g. Axiom -- the
# -- MFDApplication still expects an address to be available
nolink

# SThs-dynamic network is 198.18.0.0/21
ipv4llgroup dynamic 198.18.0.32 198.18.3.255 21

# This should point at a writeable persisted location
ipv4llgroup_claimsfile /tmp/rayautoipd.eth0_claims
